:root{
  --grey: #9597A5;
  --black: #2D314D;
  --green: #30C88F;
  --gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Public Sans', Arial, sans-serif;
  letter-spacing: -0.25px;
  background-color: #fafafa;
  color: var(--grey);
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1150px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  /* border: 3px solid red; */
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 8px 35px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--green);
  background-image: var(--gradient);
  border-radius: 22px;
}
.button:hover{
  opacity: 0.7;
}
.button:active{
  opacity: 0.5;
}

/* LOGO */
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: block;
  width: 140px;
  height: 20px;
}
/* SITENAV */
.sitenav{
  margin-right: 30px;
}
.sitenav__list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__item{
  position: relative;
}
.sitenav__item:not(:last-child){
  margin-right: 30px;
}
.sitenav__link{
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.11px;
  display: block;
  text-decoration: none;
  color: var(--grey);
}
.sitenav__link::after{
  display: none;
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  left: 0;
  bottom: 0;
  background-color: var(--green);
  background-image: var(--gradient);
}
.sitenav__link:hover{
  color: var(--black);
}
.sitenav__link:hover::after{
  display: block;
}
.sitenav__link:active{
  opacity: 0.4;
}

/* * SITE HEADER * */
.site-header {
  position: relative;
  z-index: 50;
  background-color: #fff;
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__logo{
  margin-right: 30px;
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}
/* HERO */
.hero {
  position: relative;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url(../img/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 598px) -261px;
}
.hero__content {
  max-width: 447px;
  width: 100%;
}
.hero__heading {
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 24px;
}
.hero__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 36px;
}
.hero__img{
  position: absolute;
  z-index: 10;
  width: 730px;
  height: 900px;
  top: -95px;
  left: calc(50% + 90px);
}

/* FEATURE */
.features {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #F4F5F7;
}
.features__info {
  max-width: 635px;
  width: 100%;
  margin-bottom: 72px;

}
.features__title {
  font-size: 40px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--black);
}
.features__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28px;
  color: var(--grey);
  margin-top: 0;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -30px;
  margin-bottom: -80px;
}
.features__list-item {
  max-width: 255px;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 80px;
}

.feature__icon-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: var(--green);
  background-image: var(--gradient);
  border-radius: 50%;
  margin-bottom: 40px;
}
.feature__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}
.feature__icon-simple-budgeting {
  margin-left: 7px;
}
.feature__title {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.42px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 26px;
  color: var(--black);
}
.feature__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-align: left;
  margin: 0;
  color: var(--grey);
}